CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps 
Docs
CMakeUserPresets.json
.vs
Binaries
**.vcxproj
**.vcxproj.user 
**.sln  
__pycache__
Downloads